.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navtext {
  color: red !important;
  margin: 0vw 2vw;
  text-decoration: none;
  cursor: pointer;
}
.navtext:hover {
  color: gold !important;
  text-decoration: none;
}

#navtextid {
  color: red !important;
  width: 10vw;
}

.coloring {
  color: black;
}
.verhoger {
  height: 70vmax;
  padding: 90px 30px 300px 30px;
}
